
      <section class="animated fadeIn" ng-if="!home.SearchResults">
        <h1>Step 1.</h1>
        <h2>Find your beloved artist:</h2>
        <form ng-submit="home.spotifySearch()">
          <div class="form-group">
            <input class="form-control artistSearch" autofocus="autofocus" type="search" name="search" ng-model="home.spotifySearch.entry" placeholder="Enter the artist name" required>
          </div>
          <!-- <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="home.searchParams" uib-btn-radio="'artist'">Artist</label>
            <label class="btn btn-default" ng-model="home.searchParams" uib-btn-radio="'album'">Album</label>
            <label class="btn btn-default" ng-model="home.searchParams" uib-btn-radio="'track'">Track</label>
          </div> -->

          <br>

          <!-- <input class="btn btn-primary btn-lg btn-block" type="submit" value="search"> -->
        </form>
      </section>
      <section ng-if="!home.artist">
      <section ng-if="home.SearchResults">
        <h1>Step 2.</h1>
        <h2>Select from results:</h2>
      <ul class="list-unstyled">
        <li ng-repeat="entry in home.SearchResults | limitTo:5">
          <a ng-click="home.spotifySelection(entry)"><h3>{{entry.name}}</h3></a>
        </li>
      </ul>
    </section>
  </section>
      <section class="animated fadeIn" ng-if="home.artist && !home.pendingTransaction">
        <h1>Step 3.</h1>
        <h2>Select amount and write a message:</h2>
        <h4>You've picked {{ home.artist.name }}</h4>
        <img src="{{ home.artist.image }}" width="150">
        <br>
        <form ng-submit="home.createTransaction()">
          <input
            type="integer"
            class="form-control"
            ng-model="home.transaction.amount"
            value=""
            placeholder="amount">
          <br>
          <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="home.currencyParams" uib-btn-radio="'GBP'">£</label>
            <label class="btn btn-default" ng-model="home.currencyParams" uib-btn-radio="'USD'">$</label>
            <label class="btn btn-default" ng-model="home.currencyParams" uib-btn-radio="'EUR'">€</label>
          </div>
          <textarea
            class="form-control"
            ng-model="home.transaction.message"
            placeholder="message"></textarea>
          <br>

          <input type="submit"  class="btn btn-default btn-block" value="Proceed to payment">
        </form>
      </section>





<section class="animated fadeIn" ng-if="home.pendingTransaction">

  <h1>Step 4.</h1>
  <h2>Process payment:</h2>

  <!-- <h4>
    <span ng-show="home.status.connected">✓ Connected</span>
    <span ng-show="home.status.disconnected">✘ Disconnected</span>
    <span ng-show="home.status.connecting">✘ Connecting...</span>
  </h4> -->

  <img ng-class="{ 'complete': !!home.complete }" ng-src="{{ home.pendingTransaction.qr_image_url }}" width="250">

  <!-- <button ng-click="home.checkConnection()">Check</button> -->
<br>
  <img src="/images/435px-Btc-sans.png" width="15px" alt="">{{ home.pendingTransaction.amount/100000000 }}

</section>
<a class="artworkCredit" ng-href="http://jamesturrell.com/work/date/">Artwork: James Turrell - The Light Inside</a>
