<div class="brandImgDiv">
  <img class="brandImgLrg" ng-click="home.reload()" ng-if="true" src="/images/logo.png" alt="">
  <img class="brandImgSml" ng-if="false" src="/images/logo.png" alt="">
</div>
<section class="animated fadeIn" ng-if="!home.begin">
  <div class="welcomeMessage">
    <h3>Welcome to bitip.<br><br>
    This widget has been hand built to allow the direct delivery of financial support to the artists you love.
  <br><br>
  No matter how you consume music we believe that there should be a way to support the music makers. Join us!
  <br><br>
  We use bitcoin to ensure low transaction fees, zero middlemen and a permanent record of your generosity.</h3>
  </div>
<form ng-submit="home.getStarted()">
    <input type="submit"  class="btn btn-default btn-block startButton" value="Get started">
</form>
</section>

<!-- <section class="animated fadeIn step1" ng-if="false"> -->
<section class="animated fadeIn step1" ng-if="!home.SearchResults && home.begin">
  <h1>Step 1.</h1>
  <h2>Find your beloved artist:</h2>
  <form ng-submit="home.spotifySearch()">
    <div class="form-group">
      <input class="form-control artistSearch" autofocus="autofocus" type="search" name="search" ng-model="home.spotifySearch.entry" placeholder="Enter the artist name" required>
    </div>
    <!-- <div class="btn-group btn-group-justified">
    <label class="btn btn-default" ng-model="home.searchParams" uib-btn-radio="'artist'">Artist</label>
    <label class="btn btn-default" ng-model="home.searchParams" uib-btn-radio="'album'">Album</label>
    <label class="btn btn-default" ng-model="home.searchParams" uib-btn-radio="'track'">Track</label>
  </div> -->
  <br>
  <!-- <input class="btn btn-primary btn-lg btn-block" type="submit" value="search"> -->
</form>
</section>

<section ng-if="!home.artist">
  <section ng-if="home.SearchResults">
  <!-- <section ng-if="false"> -->
    <h1>Step 2.</h1>
    <h2>Select from results:</h2>
    <ul class="list-unstyled">
      <li ng-repeat="entry in home.SearchResults | limitTo:5">
        <div class="searchItemWrap">
        <div class="artistListImgDiv">
        <a ng-click="home.spotifySelection(entry)">
          <img class="artistListImg" ng-src="{{entry.images[0].url}}" alt="">
        </a>
      </div>
        <a ng-click="home.spotifySelection(entry)"><h5 class="artistListName">{{entry.name}}</h5></a>
                  </div>
      </li>
    </ul>
  </section>
</section>

<section class="animated fadeIn" ng-if="home.artist && !home.pendingTransaction">
<!-- <section class="animated fadeIn" ng-if="false"> -->
  <h1>Step 3.</h1>
  <h2>Select amount and write a message:</h2>


  <div class="artistInfo">
    <h4>{{ home.artist.name }}</h4>
<img class="artistImage" src="{{ home.artist.image }}" height="150">
    <!-- <img class="artistImage" src="https://warpnet-media.s3.amazonaws.com/a93c65fe8e1fddfb10eb607aa3cab4b1a5841882cc08aadef6dba978" width="250">
    <h4>Brian Eno</h4> -->
  </div>
  <br>
  <form ng-submit="home.createTransaction()">
    <div class="btn-group btn-group-justified currencyButtons">
      <label class="btn btn-default" ng-model="home.currencyParams" uib-btn-radio="'GBP'">£</label>
      <label class="btn btn-default" ng-model="home.currencyParams" uib-btn-radio="'USD'">$</label>
      <label class="btn btn-default" ng-model="home.currencyParams" uib-btn-radio="'EUR'">€</label>
    </div>
    <input
    type="integer"
    class="form-control currencyInput"
    ng-model="home.transaction.amount"
    value=""
    placeholder="amount">
    <input
    type="email"
    class="form-control email"
    ng-model="home.transaction.email"
    value=""
    placeholder="email">
    <textarea
    class="form-control"
    ng-model="home.transaction.message"
    placeholder="message"></textarea>
    <br>

    <input type="submit"  class="btn btn-default btn-block paymentButton" value="Proceed to payment">
  </form>
</section>





<section class="animated fadeIn" ng-if="home.pendingTransaction">
<!-- <section class="animated fadeIn" ng-if="true"> -->

<div class="step4InfoDiv">
  <h1 ng-if="!home.complete">Step 4.</h1>
  <h2 ng-if="!home.complete">Process payment:</h2>
  <!-- <h1 ng-if="home.complete">Thank you!</h1> -->
</div>



  <!-- <h4>
  <span ng-show="home.status.connected">✓ Connected</span>
  <span ng-show="home.status.disconnected">✘ Disconnected</span>
  <span ng-show="home.status.connecting">✘ Connecting...</span>
</h4> -->
<div class="qrImgDiv">
  <img ng-class="{ 'complete': !!home.complete }" class="qrCode" ng-src="{{ home.pendingTransaction.qr_image_url }}" width="250">
<h1 class="animated tada paymentConfirmationMessage" ng-if="home.complete">Payment Confirmed</h1>
<!-- <h1 class="animated tada paymentConfirmationMessage">Payment Confirmed</h1> -->
</div>


<!-- <button ng-click="home.checkConnection()">Check</button> -->
<br>
<div ng-if="!home.complete" class="btcAmountDiv">
  <img class="btcLogo" src="/images/435px-Btc-sans.png" width="25px" alt="">{{ home.pendingTransaction.amount/100000000 }}
  <h4>Use the above code to process your payment. It may take up to half a minute to register on the blockchain so please be patient!</h4>
</div>
<div ng-if="home.complete" class="transactionCompletionDiv">
  <h4>Thank you so much for your donation - our <a ng-href="http://www.twitter.com/charliegavins" target="_blank">elf</a> is working hard to get it to the intended recipient as soon as possible.</h4>
    <br><h4>If you have enjoyed using the app drop us a tip <span class="charlieTipRequestLink" ng-click="home.selfTip()">here</span> so we can build more things!</h4>
</div>

</section>
<div class="artworkCredit">
  <p>built by Charlie with care</p>
  <br>
  <div class="socialIcons">
    <a ng-href="https://twitter.com/charliegavins" target="_blank"><img ng-src="/images/social_icons/1487891081_43-twitter.png" alt=""></a>
    <a ng-href="https://www.instagram.com/charliegavins/" target="_blank"><img ng-src="/images/social_icons/1487891230_38-instagram.png" alt=""></a>
    <a ng-href="https://open.spotify.com/user/charliegavins" target="_blank"><img ng-src="/images/social_icons/1487891234_spotify_rounded.png" alt=""></a>
    <a ng-href="https://github.com/gabrielghost" target="_blank"><img ng-src="/images/social_icons/1487891236_github_rounded.png" alt=""></a>
    <a ng-href="mailto:cg@neonseed.com" target="_blank"><img ng-src="images/social_icons/1487891238_67-gmail.png" alt=""></a>
  </div>

  <!-- <a class="artworkCredit" ng-href="http://jamesturrell.com/work/date/">Artwork: James Turrell - The Light Inside</a> -->
</div>
